@media screen and (max-width: 768px) {
    header {
        background: url('/ressources/images/photos/image-header.jpg') no-repeat center bottom, #3DBEFF;
        background-size: 1450px;
        max-height: 1000px;
        max-width: 768px;
        
        .navbar {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 300px;

            img.brand {
                width: 250px;
                height: auto;
                margin-top: 32px;
                padding-left: 24px;
                
            }
        }

        .arrow {
            padding-left: 45%;
            height: 200px;
            
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 2560px) {
    header {
    background: url('/ressources/images/photos/image-header.jpg') no-repeat center bottom, #3DBEFF;
    background-size: 1100px;
    height: 550px;
    .nav {
        display: grid;
        grid-template-columns: auto auto;
        .navbar {
            display: grid;
            grid-template-columns: auto auto ;
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 350px;
            height: 70px;
            img.brand {
                width: 250px;
                height: auto;
                margin-top: 40px;
                padding-left: 24px;
            }
            .burgermenu {
                display: grid;
                grid-template-columns: auto auto auto auto;
                width: 250px;
                height: 70px;
                margin-top: 32px;
                justify-content: center;
                align-items: center;
                gap: 79px;
            }    
        }
    }
        .arrow {
            padding-left: 48%;
            height: 100px;
            }
    }
}