@media screen and (max-width: 768px) {
    header {
        background: url('/ressources/images/photos/image-header.jpg') no-repeat center bottom, #3DBEFF;
        background-size: 1450px;
        height: 1000px;
        width: 768px;
        
        .navbar {
            display: grid;
            grid-template-columns: auto auto;

            img.brand {
                width: 250px;
                height: auto;
                margin-top: 32px;
                padding-left: 24px;
            }
        }

        .arrow {
            padding-left: 45%;
            height: 200px;
            
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 2560px) {
    header {
    background: url('/ressources/images/photos/image-header.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    width: 2560px;
    height: 2324px;
    .nav {
        display: grid;
        grid-template-columns: auto auto;
        .navbar {
            display: grid;
            grid-template-columns: auto auto auto auto au;
        }
    }
    }
}
