@media screen and (max-width: 768px) {
    .images {
        display: grid;
        grid-template-columns: auto auto;
        max-width: 768px;
    
        .milk {
            width: 100%;
            float: left;
        }
        .orange {
            width: 100%;
            float: right;
        }
        .cone {
            width: 100%;
            float: left;
        }
        .sugar {
            width: 100%;
            float: right;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 2560px) {
    .images {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        .milk {
            width: 25%;
            height: 25%;
        }
        .orange {
            width: 25%;
            height: 25%;
        }
        .cone {
            width: 25%;
            height: 25%;
        }
        .sugar {
            width: 25%;
            height: 25%;
        }
    }
}