/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:opsz,wght@9..144,900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@media screen and (max-width: 768px) {
  .menu {
    color: #808397;
    font-family: "Barlow";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 125% */
    letter-spacing: -0.143px;
    text-decoration: none;
  }
  .menu_contact {
    color: #808397;
    font-family: "Barlow";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 125% */
    letter-spacing: -0.143px;
    text-decoration: none;
  }
  .title {
    font-family: "Fraunces", serif;
    color: #FFF;
    font-size: 80px;
    font-size: normal;
    text-transform: uppercase;
    padding-top: 144px;
    font-weight: 900p;
    text-align: center;
    letter-spacing: 6.25px;
    line-height: normal;
  }
  h2 {
    font-family: "Fraunces", serif;
    color: black;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.229px;
    width: 327px;
  }
  .explain {
    color: #808397;
    text-align: center;
    font-family: "Barlow";
    font-size: 18px;
    font-size: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.129px;
    width: 327px;
  }
  .Learn-pink {
    color: #24303E;
    font-family: "Fraunces", serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 166.667% */
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #FED9D0;
    text-decoration-thickness: 8px;
  }
  .Learn-pink:hover {
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #FE7766;
    text-decoration-thickness: 8px;
  }
  .Learn-yellow {
    color: #24303E;
    font-family: "Fraunces", serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 166.667% */
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #FDF3B6;
    text-decoration-thickness: 8px;
  }
  .Learn-yellow:hover {
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #FAD400;
    text-decoration-thickness: 8px;
  }
  Graphic h3 {
    color: #24554A;
    text-align: center;
    font-family: "Fraunces", serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.2px;
  }
  Graphic p.info {
    color: #24554A;
    text-align: center;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; /* 168.75% */
    letter-spacing: -0.114px;
  }
  .photography h3 {
    color: #052C3B;
    text-align: center;
    font-family: "Fraunces", serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.2px;
  }
  .photography p.info {
    color: #24554A;
    text-align: center;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; /* 168.75% */
    letter-spacing: -0.114px;
  }
  h4 {
    color: #A7AAAD;
    text-align: center;
    font-family: "Fraunces", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 4px;
  }
  .review {
    color: #5B636D;
    text-align: center;
    font-family: "Barlow";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
    letter-spacing: -0.129px;
  }
  .name {
    color: #24303E;
    text-align: center;
    font-family: "Fraunces", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.129px;
  }
  .job {
    color: #A7AAAD;
    text-align: center;
    font-family: "Barlow";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 178.571% */
    letter-spacing: -0.1px;
  }
  .elements {
    color: #458D7E;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 138.889% */
    letter-spacing: -0.129px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 2560px) {
  .title {
    color: #FFF;
    text-align: center;
    font-family: "Fraunces";
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 8.75px;
    text-transform: uppercase;
  }
  .menu {
    color: #FFF;
    font-family: "Barlow";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 138.889% */
    letter-spacing: -0.129px;
    text-decoration: none;
  }
  .menu_contact {
    background-color: white;
    color: #052C3B;
    text-decoration: none;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    font-family: "Fraunces";
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 166.667% */
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .menu_contact:hover {
    border-radius: 28px;
    opacity: 0.5;
    background: #FFF;
    color: #FFF;
    font-family: "Fraunces";
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 166.667% */
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .informations h2 {
    color: #24303E;
    font-family: "Fraunces";
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.286px;
  }
  .informations .explain {
    color: #808397;
    font-family: "Barlow";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.129px;
  }
  .informations .Learn-pink {
    color: #24303E;
    font-family: "Fraunces", serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 166.667% */
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #FED9D0;
    text-decoration-thickness: 8px;
  }
  .informations .Learn-pink:hover {
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #FE7766;
    text-decoration-thickness: 8px;
  }
  .informations .Learn-yellow {
    color: #24303E;
    font-family: "Fraunces", serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 166.667% */
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #FDF3B6;
    text-decoration-thickness: 8px;
  }
  .informations .Learn-yellow:hover {
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #FAD400;
    text-decoration-thickness: 8px;
  }
  h3 {
    color: #24554A;
    text-align: center;
    font-family: "Fraunces";
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.2px;
  }
  .info {
    color: #3E7467;
    text-align: center;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; /* 168.75% */
    letter-spacing: -0.114px;
  }
  .testimonials {
    color: #A7AAAD;
    text-align: center;
    font-family: "Fraunces";
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 5px;
  }
  .review {
    color: #5B636D;
    text-align: center;
    font-family: "Barlow";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
    letter-spacing: -0.129px;
    margin-bottom: 69px;
    margin-top: 58px;
  }
  .name {
    color: #24303E;
    text-align: center;
    font-family: "Fraunces";
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.129px;
  }
  .job {
    color: #A7AAAD;
    text-align: center;
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 178.571% */
    letter-spacing: -0.1px;
  }
}
.elements a {
  color: #458D7E;
  font-family: "Barlow";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.129px;
  text-decoration: none;
}
.elements a:hover {
  text-decoration: none;
  color: white;
}

.fb:hover {
  filter: invert(93%) sepia(7%) saturate(27%) hue-rotate(216deg) brightness(150%) contrast(110%);
}

.ig:hover {
  filter: invert(93%) sepia(7%) saturate(27%) hue-rotate(216deg) brightness(150%) contrast(110%);
}

.tw:hover {
  filter: invert(93%) sepia(7%) saturate(27%) hue-rotate(216deg) brightness(150%) contrast(110%);
}

.pt:hover {
  filter: invert(93%) sepia(7%) saturate(27%) hue-rotate(216deg) brightness(150%) contrast(110%);
}

@media screen and (max-width: 768px) {
  header {
    background: url("../images/photos/image-header.jpg") no-repeat center bottom, #3DBEFF;
    background-size: 1450px;
    max-height: 1000px;
    max-width: 768px;
  }
  header .navbar {
    display: grid;
    grid-template-columns: auto auto;
  }
  header .navbar img.brand {
    width: 250px;
    height: auto;
    margin-top: 32px;
    padding-left: 24px;
  }
  header .navbar .burgermenu {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  header .arrow {
    padding-left: 45%;
    height: 200px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 2560px) {
  header {
    background: url("../images/photos/image-header.jpg") no-repeat center bottom, #3DBEFF;
    background-size: 1100px;
    height: 550px;
  }
  header .nav {
    display: grid;
    grid-template-columns: auto auto;
  }
  header .nav .navbar {
    display: grid;
    grid-template-columns: auto auto;
    display: grid;
    height: 85px;
  }
  header .nav .navbar img.brand {
    width: 250px;
    height: auto;
    margin-top: 40px;
    padding-left: 24px;
  }
  header .nav .navbar .burgermenu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 70px;
    gap: 79px;
    align-items: end;
    justify-content: end;
  }
  header .arrow {
    padding-left: 48%;
    height: 100px;
  }
}
@media screen and (max-width: 768px) {
  .informations {
    display: flex;
    flex-direction: column;
  }
  .informations .egg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD300;
  }
  .informations .transform {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .informations .glass {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .informations .stand-out {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .informations .Graphic {
    background: url("../photos/image-graphic-design.jpg") no-repeat center;
    background-size: 1300px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .informations .Graphic .graphic {
    display: flex;
    width: 350px;
    flex-direction: column;
    margin-top: 600px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .informations .photography {
    background: url("../photos/image-photography.jpg") no-repeat center;
    background-size: 1200px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .informations .photography .pics {
    display: flex;
    width: 350px;
    flex-direction: column;
    margin-top: 600px;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 2560px) {
  .informations {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
  .informations .transform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: -1;
  }
  .informations .transform .explain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 445px;
  }
  .informations .stand-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .informations .stand-out .explain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 445px;
  }
  .informations .Graphic {
    background: url("../photos/image-graphic-design.jpg") no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .informations .Graphic .graphic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    width: 339px;
  }
  .informations .photography {
    background: url("../photos/image-photography.jpg") no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .informations .photography .pics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    width: 339px;
  }
}
@media screen and (max-width: 768px) {
  .testimonials {
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: 768px;
  }
  .testimonials .people {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
  }
  .testimonials .people .faces {
    border-radius: 50%;
    width: 72px;
    height: 72px;
    margin-left: 40%;
  }
  .testimonials .people .review {
    justify-content: center;
    align-items: center;
    width: 327px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 2560px) {
  .testimonials {
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    margin-left: 165px;
    margin-right: 165px;
    margin-bottom: 80px;
  }
  .testimonials .people {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .testimonials .people .faces {
    border-radius: 50%;
    width: 72px;
    height: 72px;
  }
}
@media screen and (max-width: 768px) {
  .images {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 768px;
  }
  .images .milk {
    width: 100%;
    float: left;
  }
  .images .orange {
    width: 100%;
    float: right;
  }
  .images .cone {
    width: 100%;
    float: left;
  }
  .images .sugar {
    width: 100%;
    float: right;
  }
}
@media only screen and (min-width: 768px) and (max-width: 2560px) {
  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .images .milk {
    width: 25%;
    height: 25%;
  }
  .images .orange {
    width: 25%;
    height: 25%;
  }
  .images .cone {
    width: 25%;
    height: 25%;
  }
  .images .sugar {
    width: 25%;
    height: 25%;
  }
}
@media screen and (max-width: 768px) {
  footer {
    background-color: #90D4C6;
    max-height: 450px;
  }
  footer .brand {
    margin-top: 104px;
    margin-left: 36%;
    filter: invert(63%) sepia(57%) saturate(387%) hue-rotate(118deg) brightness(98%) contrast(94%);
    width: 170px;
    height: 33px;
    margin-bottom: 40px;
  }
  footer .infos-foot .elements {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    grid-gap: 57px;
    margin-bottom: 88px;
  }
  footer .social-media .logos {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin-left: 104px;
    margin-right: 106px;
    padding-bottom: 80px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 2560px) {
  footer {
    background-color: #90D4C6;
  }
  footer .brand {
    margin-top: 104px;
    margin-left: 43%;
    filter: invert(63%) sepia(57%) saturate(387%) hue-rotate(118deg) brightness(98%) contrast(94%);
    width: 170px;
    height: 33px;
    margin-bottom: 40px;
  }
  footer .infos-foot .elements {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    grid-gap: 57px;
    margin-bottom: 88px;
  }
  footer .social-media .logos {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin-left: 104px;
    margin-right: 106px;
    padding-bottom: 80px;
  }
}/*# sourceMappingURL=style.css.map */