.title {
    font-family: 'Fraunces', serif;
    color: #FFF;
    font-size: 80px;
    font-size: normal;
    text-transform: uppercase;
    padding-top: 144px;
    font-weight: 900p;
    text-align: center;
    letter-spacing: 6.25px;
    line-height: normal;
}

h2 {
    font-family: 'Fraunces', serif;
    color: black;
    text-align: center;
    font-size: 32px;
    font-style:normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.229px;
    width: 327px;
}

.explain {
    color: #808397;
    text-align: center;
    font-family: 'Barlow';
    font-size: 18px;
    font-size: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.129px;
    width: 327px;
}

.Learn {
    color: #24303E;
    font-family: 'Fraunces', serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 166.667% */
    letter-spacing: 1px;
    text-transform: uppercase; 
}

.Graphic {
    h3 {
        color: #24554A;
        text-align: center;
        font-family: 'Fraunces', serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: -0.2px;
    }
    p.explain {
        color: #24554A;
        text-align: center;
        font-family: 'Barlow';
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 27px; /* 168.75% */
        letter-spacing: -0.114px; 
    }
}

.photography {
    h3 {
        color: #052C3B;
        text-align: center;
        font-family: 'Fraunces', serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: -0.2px; 
    }
    p.explain {
        color: #24554A;
        text-align: center;
        font-family: 'Barlow';
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 27px; /* 168.75% */
        letter-spacing: -0.114px; 
        }
    }
