.title {
    font-family: 'Fraunces', serif;
    color: #FFF;
    font-size: 80px;
    font-size: normal;
    text-transform: uppercase;
    padding-top: 144px;
    font-weight: 900p;
    text-align: center;
    letter-spacing: 6.25px;
    line-height: normal;
}